* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
}
/*header区域*/
.header {
	width: 100%;
	min-width: 960px;
	background: url(images/bk_01.png) center center no-repeat;
	background-size: 100% 100%;
}
.content {	
	width: 80%;
	min-width: 960px;
	padding-bottom: 100px;
	margin: 0 auto;
}
.header h1 {
	min-width: 324px;
	margin: 0 auto;
	padding: 210px 0 90px;
	color: #FFFFFF;
	text-align: center;
	font: normal 100 60px "microsoft yahei";
}
.header span {
	min-width: 830px;
	margin: 6px auto 0;
	text-align: center;
	word-spacing: 6px;
	color: #B6A589;
	font: normal 100 20px "microsoft yahei";
	display: block;
}
.login {
	min-width: 960px;
	margin: 100px auto 0;
	border: 1px solid #71675E;
	box-sizing: border-box;
}
.header h3 {
	margin: 60px auto 0;
	color: #FFFFFF;
	text-align: center;
	font: normal 100 1em "microsoft yahei";
}
#text1 {
	margin: 10px auto 0;
	color: #615c53;
	font: normal 100 10px "microsoft yahei";
}
.account {
	min-width: 840px;
	margin: 0 auto;
	text-align: center;
}
.label1 {
	min-width: 250px;
	margin: 60px 0 40px 0px;
	padding: 20px 100px 20px 20px;
	background-color: transparent;
	border: 1px solid #71675E;
	font: normal 100 16px "microsoft yahei";
	color: #FFFFFF;
	text-align: center;
}
.label2 {
	min-width: 250px;
	margin: 60px 0 40px 20px;
	padding: 20px 100px 20px 20px;
	background-color: transparent;
	border: 1px solid #71675E;
	font: normal 100 16px "microsoft yahei";
	color: #615c53;
}
.click {
	min-width: 150px;
	max-width: 300px;
	margin: 60px 0 40px 20px;
	padding: 20px 20px;
	background-color: #FFFFFF;
	border: 1px solid transparent;
	font: normal 100 16px "microsoft yahei";
}

/* section-one区域 */
section-one {
	width: 100%;
	padding: 100px 0;
}
.content-one {
	width: 80%;
	min-width: 960px;
	margin: 0 auto;
}
.content-one h6 {
	min-width: 100px;
	margin: 60px auto 20px;
	font-size: 10px;
	text-align: center;
}
.content-one span{
	min-width: 200px;
	margin: 6px auto 0;
	text-align: center;
	word-spacing: 6px;
	color: #3a3a3a;
	font: normal 100 36px "microsoft yahei";
	display: block;
}
.container {
	margin-bottom: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.block {
	min-width: 400px;
	margin: 50px 80px 0;
	float: left;
}
.block img {
	float: left;
	margin-right: 20px;
	width: 30px;
	height: 30px;
}
.word-container {
	max-width: 1200px;
	float: left;
}
.word-container h5 {
	margin-bottom: 20px;
	color: #111111;
}
.word-container p {
	color: #908e8e;
	font-size: 10px;
}
.container:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
}