* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: 100%;
	position: relative;
}
/*left_menu区域*/
.left_menu {
	width: 100px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #1d2530;
}
.fix_top {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 0;
}
.fix_top a {
	padding-top: 18px;
	display: block;
	text-align: center;
}
.fix_bottom {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}
.fix_bottom a {
	padding-top: 20px;
	padding-bottom: 14px;
	display: block;
	text-align: center;
}

/*middle_menu区域*/
.middle_menu {
	width: 250px;
	height: 100%;
	position: fixed;
	left: 100px;
	top: 0;
	bottom: 0;
	background-color: #222c3c;
}
.part1 {
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #475364;
	font: 10px "arial";
}
.part1 p {
	height: 30px;
	color: #d3eafc;
	line-height: 30px;
}
.part1 p:first-child {
	position: relative;
	color: #475364;
}
.part1 p:nth-child(3) {
	position: relative;
}
.part1 p:first-child img {
	position: absolute;
	right: 0;
	top: 7px;
}
#Saies_number {
	height: 20px;
	margin-top: 1px;
	padding: 4px 12px;
	position: absolute;
	right: 0;
	border-radius: 14px;
	color: #d3eafc;
	text-align: center;
	display: inline-block;
	background-color: #2ca0f7;
	line-height: 20px;
}
.part2 {
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #475364;
	font: 10px "arial";
}
.part2 p {
	height: 30px;
	color: #d3eafc;
	line-height: 30px;
}
.part1 p img {
	
}
.part2 p:first-child {
	position: relative;
	color: #475364;
}
.part2 p:nth-child(3) {
	position: relative;
	box-sizing: border-box;
}
.part2 p:first-child img {
	position: absolute;
	right: 0;
}
.part3 {
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #475364;
	font: 10px "arial";
}
.part3 p {
	height: 30px;
	color: #d3eafc;
	line-height: 30px;
}
.part3 p:first-child {
	position: relative;
	color: #475364;
}
.part3 p:nth-child(2) {
	position: relative;
}
.part3 p:nth-child(4) {
	position: relative;
}
.part3 p:first-child img {
	position: absolute;
	right: 0;
}
#Integrations_information {
	height: 20px;
	margin-top: 1px;
	padding: 4px 12px;
	position: absolute;
	right: 0;
	border-radius: 50%;
	color: #d3eafc;
	text-align: center;
	display: inline-block;
	background-color: #E63928;
	line-height: 20px;
}
