* {
	margin: 0;
	padding: 0;
} 
	
/*header区域*/
.header {
	min-width: 960px;
	background-color: #333333;
}
.content {
	width: 960px;
	margin: 0 auto;
}
.logo {
	color: #FFFFFF;
	float: left;
	font-size: 22px;
	line-height: 63px;
}
.right-nav {
	color: #FFFFFF;
	float: right;
}
.right-nav li {
	margin-left: 10px;
	list-style-type: none;
	float: left;	
}
.right-nav li a {
	color: #FFFFFF;
	font-size: 12px;
}
.right-nav ul:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}
.content:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}

/*Banner区域*/
.Banner {
	background-color: #66BB33;
	height: 300px;
}
.content-one {
	width: 960px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}
.Banner ul {
	position: absolute;
	bottom: -4px;
	right: 0px;	
}
.Banner ul li {
	width: 30px;
	height: 34px;
	margin-right: 4px;
	border: 1px solid #14250A;
	background-color: #B2DD99;
	text-align: center;
	line-height: 34px;
	display: inline-block;
	float: left;
	list-style-type: none;
}
.second {
	padding-top: 14px;
	background-color: #E0F1D6 !important;
	position: relative;
	bottom: 14px;
}
.Banner ul li a {
	color: #14250A;
	text-decoration: none;
}
.content-one ul:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}

/*nav区域*/
.nav {
	background-color: #FFFFFF;
	height: 72px;
	border: 1px solid #DDDDDD;
}
.content-two {
	width: 960px;
	height: 72px;
	margin: 0 auto;
}
.nav ul li {
	float: left;
	list-style-type: none;
}
.nav ul li a {
	width: 106px;
	height: 50px;
	display: block;
	margin-top: 22px;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	text-align: center;
	color: #14250A;
	text-decoration: none;
	line-height: 50px;
	border-radius: 20px 20px 0 0;
}
#home {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
ul li a:hover {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.nav ul:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}

/*main区域*/
.main {
	height: 580px;
	padding: 20px 0;
	box-sizing: border-box;
}
.content-three {
	width: 960px;
	height: 540px;
	margin: 0 auto;
	/*background-color: red;*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.item {
	flex: auto;
	/*margin: 2px;*/
	padding: 80px;
	border: 1px solid #DDDDDD;
	text-align: center;
}
/*foot区域*/
.foot {
	height: 200px;
	background-color: #666666;
}














































/*float实现左侧30%，右侧%70的两栏布局
.left {   
	width: 30%;
	height: 100px;
	background-color: #ff0000;
	float: left;
}
.right {
	width: 70%;
	height: 100px;
	background-color: #00ff00;
	float: left;
}
body:after {
	display: block;
	content: '';
	clear: both;
	visibility: hidden;
	height: 0;
}
*/

/*position实现左侧30%，右侧%70的两栏布局
.left {
	width: 30%;
	height: 100px;
	background-color: #ff0000;
	position: absolute;
}
.right {
	width: 70%;
	height: 100px;
	background-color: #00ff00;
	position: absolute;
	right: 0;
}*/

/*flex实现左侧30%，右侧%70的两栏布局
body {
	min-width: 200px;
	display: flex;
	flex-flow: row nowrap;
}
.left {
	width: 30%;
	height: 100px;
	background-color: #ff0000;
}
.right {
	width: 70%;
	height: 100px;
	background-color: #00ff00;
}*/

/*float实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化
.left {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	float: left;
}
.right {
	margin-left: 200px;
	height: 100px;
	background-color: #00ff00;
}*/

/*position实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化
.left {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	position: absolute;
	left: 0;
}
.right {
	margin-left: 200px;
	height: 100px;
	background-color: #00ff00;
}*/

/*flex实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化
body {
	min-width: 200px;
	display: flex;
	flex-flow: row nowrap;
}
.left {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
}
.right {
	flex:auto;
	height: 100px;
	background-color: #00ff00;
}*/

/*float实现一个两栏布局，右侧固定宽度，左侧根据浏览器宽度进行自适应变化
.left {
	width: calc(100% - 200px);
	height: 100px;
	background-color: #00ff00;
	float: left;
}
.right {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	float: right;
}
body:after {
	display: block;
	content: '';
	clear: both;
	visibility: hidden;
	height: 0;
}*/

/*position实现一个两栏布局，右侧固定宽度，左侧根据浏览器宽度进行自适应变化
.left {
	margin-right: 200px;
	height: 100px;
	background-color: #00ff00;
}
.right {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	position: absolute;
	right: 0;
	top: 0;
}*/

/*flex实现一个两栏布局，右侧固定宽度，左侧根据浏览器宽度进行自适应变化
body {
	min-width: 400px;
	display: flex;
	flex-flow: row nowrap;
}
.left {
	flex:auto;
	height: 100px;
	background-color: #00ff00;
}
.right {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
}*/

/*
float实现一个三栏布局，左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化
.left {
	width: 200px;
	height: 100px;
	background-color: #00ff00;
	float: left;
}
.right {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	float: right;
}
.content {
	margin-left: 200px;
	margin-right: 200px;
	height: 100px;
	background-color: #0000ff;
}*/

/*position实现一个三栏布局，左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化
.left {
	width: 200px;
	height: 100px;
	background-color: #00ff00;
	position: absolute;
	left: 0;
	top: 0;
}
.right {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	position: absolute;
	right: 0;
	top: 0;
}
.content {
	margin-left: 200px;
	margin-right: 200px;
	height: 100px;
	background-color: #0000ff;
}*/

/*flex实现一个三栏布局，左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化
body {
	min-width: 400px;
	display: flex;
	flex-flow: row nowrap;
}
.left {
	width: 200px;
	height: 100px;
	background-color: #00ff00;
}
.right {
	order: 1;
	width: 200px;
	height: 100px;
	background-color: #ff0000;
}
.content {
	flex: auto;
	height: 100px;
	background-color: #0000ff;
}*/

/*float实现一个三栏布局，左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化
.left {
	width: 200px;
	height: 100px;
	background-color: #00ff00;
	float: left;
}
.right {
	width: calc(100% - 400px);
	height: 100px;
	background-color: #0000ff;
	float: right;
}
.content {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	float: left;	
}
body:after {
	display: block;
	content: '';
	clear: both;
	visibility: hidden;
	height: 0;
}*/

/*position实现一个三栏布局，左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化
.left {
	width: 200px;
	height: 100px;
	background-color: #00ff00;
	position: absolute;
	left: 0;
	top: 0;
}
.right {
	width: calc(100% - 400px);
	height: 100px;
	background-color: #0000ff;
	position: absolute;
	right: 0;
	top: 0;
}
.content {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	position: absolute;
	left: 200px;
	top: 0;	
}*/

/*flex实现一个三栏布局，左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化
body {
	min-width: 400px;
	display: flex;
	flex-flow: row nowrap;
}
.left {
	width: 200px;
	height: 100px;
	background-color: #00ff00;
}
.right {
	order: 1;
	flex: auto;
	height: 100px;
	background-color: #0000ff;
}
.content {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
}*/